[submodule "extern/stx-btree"]
	path = extern/stx-btree
	url = https://github.com/bingmann/stx-btree.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest/
	ignore = dirty
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark
	ignore = dirty
