sudo: required
dist: trusty
language: cpp

cache:
  directories:
    - $HOME/travisCacheDir

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libboost-dev  
      - libboost-filesystem-dev 
      - libboost-test-dev 
      - libboost-program-options-dev 
      - libasio-dev 
      - libboost-log-dev 
      - libboost-regex-dev 
      - libboost-date-time-dev
      - cmake  
      - g++-6  
      - gcc-6 
      - cpp-6
      - clang
      
before_install:
   - pip install --user cpp-coveralls
   - wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz
   - tar xf lcov_1.11.orig.tar.gz
   - sudo make -C lcov-1.11/ install
   - gem install coveralls-lcov
   - cmake --version
   - cd ${TRAVIS_BUILD_DIR}
   - git submodule init
   - git submodule update

matrix:
  include:
    - os: linux
      compiler: gcc-6
      env: GCOV=FALSE CLANG=FALSE
    - os: linux
      compiler: gcc-6
      env: GCOV=TRUE CLANG=FALSE
#    - os: linux
#      compiler: clang
#      env: CLANG_SANITIZER=ASAN_UBSAN CLANG=TRUE GCOV=FALSE
#    - os: linux
#      compiler: clang
#      env: CLANG_SANITIZER=TSAN CLANG=TRUE GCOV=FALSE
#    - os: linux
#      compiler: clang 
#      env: CLANG=TRUE GCOV=FALSE

script: 
   - bash .travis/build.sh
